{% extends "FRHollenBundle::layout.html.twig" %}

{% block content %}
<!--div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <svg id="Test" height="100%" width="100%" viewBox="0 0 100 1000">
            <g>
                <rect x="5"  y="100" height="100" width="90" ry="10" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="50" y="120" text-anchor="middle" style="font-size:10px;" fill="white">Nom du groupe</text>
                <text x="50" y="130" text-anchor="middle" style="font-size:10px;" fill="gray">12H30</text>
                <text x="50" y="140" text-anchor="middle" style="font-size:10px;" fill="gray">13H00</text>
            </g>
        </svg>
    </div>
</div>
<script>
    var test = Snap("#Test");
    hollen.addLines( test );
</script-->
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <svg id="runningOrder" height="100%" width="100%" viewBox="0 0 100 1000">
        </svg>
    </div>
    {% for name,stage in stages %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <strong class="text-center">{{ name }}</strong>
        <svg id="{{ loop.index0 }}" height="100%" width="100%" viewBox="0 0 100 {{ end - begin }}">
            {% for concert in stage %}
            <g>
                <rect x="5" y="{{ concert.beginint - begin }}" width="90" height="{{ concert.endint - concert.beginint }}" ry="10" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
                <text x="50" y="{{ concert.beginint - begin + 20 }}" text-anchor="middle" style="font-size:10px;" fill="white">{{ concert.rockband.name }}</text>
                <text x="50" y="{{ concert.beginint - begin + 30 }}" text-anchor="middle" style="font-size:10px;" fill="gray">{{ concert.beginTime.format("H:i - d/m/Y") }}</text>
                <text x="50" y="{{ concert.beginint - begin + 40 }}" text-anchor="middle" style="font-size:10px;" fill="gray">{{ concert.endTime.format("H:i - d/m/Y") }}</text>
            </g>
            {% endfor %}
        </svg>
    </div>
    {% endfor %}
</div>

{% endblock %}