{% extends "FRHollenBundle::layout.html.twig" %}

{% block content %}
<style>
    .concert{
        position: absolute;
        width: 100%;
    }
    .panel-heading,
    .panel-body{
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>

<div class="row">
    <center>
        <div class="btn-group">
            <a href="{{ path('fr_hollen_planning',{'begin_int': 23911080, 'end_int': 23912700}) }}" class="btn btn-default">Day 1</a>
            <a href="{{ path('fr_hollen_planning',{'begin_int': 23912700, 'end_int': 23914140}) }}" class="btn btn-default">Day 2</a>
            <a href="{{ path('fr_hollen_planning',{'begin_int': 23914140, 'end_int': 23915580}) }}" class="btn btn-default">Day 3</a>
            <a href="{{ path('fr_hollen_planning') }}" class="btn btn-default">All Days</a>
        </div>    
        <a href="{{ path('fr_hollen_html2pdf') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-file"></span>
            Exporter to PDF
        </a>
    </center>
</div>
<br/><br/>

{% set size = 3 %}
{% set padding = 60 %}

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="height:{{ (end - begin)*size + padding }}px">
        <center>
            <h4>
                <span class="glyphicon glyphicon-star"></span>
                Running Order
            </h4>
        </center>
        {% for concert in orders %}
        <div class="panel panel-default concert" style="top:{{ (concert.beginint - begin)*size + padding }}px;height:{{ (concert.endint - concert.beginint)*size }}px">
            <div class="panel-heading">
                {{ concert.rockband.name }}
                <a href="{{ path('fr_hollen_remove_order',{ 'id':concert.id }) }}" class="btn btn-danger btn-xs pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="panel-body">
                Stage : {{ concert.stage.name }}<br/>
                {{ concert.beginTime.format("H:i - d/m/Y") }} <br/>
                {{ concert.endTime.format("H:i - d/m/Y") }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% for name,stage in concerts %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="height:{{ (end - begin)*size + padding }}px">
        <a href="{{ path('fr_hollen_planning',{'stage_id': stages[name]}) }}" class="btn btn-default btn-lg btn-block">
            {{ name }}
        </a>
        {% for concert in stage %}
        <div class="panel panel-default concert" style="top:{{ (concert.beginint - begin)*size + padding }}px;height:{{ (concert.endint - concert.beginint)*size }}px">
            <div class="panel-heading">
                {{ concert.rockband.name }}
                <a href="{{ path('fr_hollen_add_order',{ 'id':concert.id }) }}" class="btn btn-success btn-xs pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="panel-body">
                {{ concert.beginTime.format("H:i - d/m/Y") }} <br/>
                {{ concert.endTime.format("H:i - d/m/Y") }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}