{% extends "FRHollenBundle::layout.html.twig" %}

{% block content %}
<style>
    .concert{
        position: absolute;
        width: 100%;
    }
    .panel-heading,
    .panel-body{
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="height:{{ (end - begin)*2 + 30 }}px">
        <strong>Running Order</strong>
        {% for concert in orders %}
            <div class="panel panel-default concert" style="top:{{ (concert.beginint - begin)*2 + 30 }}px;height:{{ (concert.endint - concert.beginint)*2 }}px">
                <div class="panel-heading">
                    {{ concert.rockband.name }}
                    <a href="{{ path('fr_hollen_remove_order',{ 'id':concert.id }) }}" class="btn btn-danger btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span> Enlever
                    </a>
                </div>
                <div class="panel-body">
                    {{ concert.beginTime.format("H:i - d/m/Y") }} <br/>
                    {{ concert.endTime.format("H:i - d/m/Y") }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% for name,stage in stages %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="height:{{ (end - begin)*2 + 30 }}px">
        <strong>{{ name }}</strong>
        {% for concert in stage %}
            <div class="panel panel-default concert" style="top:{{ (concert.beginint - begin)*2 + 30 }}px;height:{{ (concert.endint - concert.beginint)*2 }}px">
                <div class="panel-heading">
                    {{ concert.rockband.name }}
                    <a href="{{ path('fr_hollen_add_order',{ 'id':concert.id }) }}" class="btn btn-success btn-xs pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Ajouter
                    </a>
                </div>
                <div class="panel-body">
                    {{ concert.beginTime.format("H:i - d/m/Y") }} <br/>
                    {{ concert.endTime.format("H:i - d/m/Y") }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}