{% extends "FRHollenBundle::layout.html.twig" %}
{% form_theme form 'FRHollenBundle:Form:fields.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>
        Ajouter un concert
    </h1>
</div>

<style>
    .select select{
        background: transparent;
        padding: 5px;
        font-size: 16px;
        color: #ddd;
        border: 1px solid #ccc;
        height: 34px;
        -webkit-appearance: none;
    }
    .select{
        height: 34px;
        overflow: hidden;
    }
</style>

<div class="row">
    <div class="col-lg-offset-3 col-lg-6  col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
        {{ form_start(form,{'attr':{'class':'form-horizontal well'}}) }}
            
            {# print errors in the form #}
            {{ form_errors(form) }}
            
            <div class="row">
                <div class="col-sm-6">
                    <strong>Scène du concert</strong>
                    {{ form_widget(form.stage) }}
                </div>
                <div class="col-sm-6">
                    <strong>Groupe du concert</strong>
                    {{ form_widget(form.rockband) }}
                </div>
            </div>
            
            <br/><br/>
            
            <div class="form-group">
                {{ form_label(form.beginTime, "Heure de début", {'label_attr':{'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.beginTime) }}
                <div class="col-sm-8">
                    <table>
                        <tr>
                            <td class="select">{{ form_widget(form.beginTime.time.hour) }}</td>
                            <td class="select">{{ form_widget(form.beginTime.time.minute) }}</td>
                            <td class="select">{{ form_widget(form.beginTime.date.day) }}</td>
                            <td class="select">{{ form_widget(form.beginTime.date.month) }}</td>
                            <td class="select">{{ form_widget(form.beginTime.date.year) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.endTime, "Heure de fin", {'label_attr':{'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(form.endTime) }}
                <div class="col-sm-8">
                    <table>
                        <tr>
                            <td class="select">{{ form_widget(form.endTime.time.hour) }}</td>
                            <td class="select">{{ form_widget(form.endTime.time.minute) }}</td>
                            <td class="select">{{ form_widget(form.endTime.date.day) }}</td>
                            <td class="select">{{ form_widget(form.endTime.date.month) }}</td>
                            <td class="select">{{ form_widget(form.endTime.date.year) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-9 col-sm-3">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-lg btn-block'}}) }}
                </div>
            </div>
            
            {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}